In [66]:
import pandas as pd
import os
import matplotlib.pyplot as plt
os.chdir ("C:\\Users\\Hp\\Desktop\\Chaimae\\stage\\PFE\\Dataset\\dataset_final")
cwd=os.getcwd()
print(cwd)
df=pd.read_excel('cov_entre_ville.xlsx')

C:\Users\Hp\Desktop\Chaimae\stage\PFE\Dataset\dataset_final

In [67]:
df.head()

,Ville de depart,Latitude,Longitude,Ville d'arrivée,Latitude.1,Longitude.1,Distance,Durée
0,AGADIR,30.422036,-9.559509,AL HOCEIMA,35.245114,-3.930186,1014.802001,602.133333
1,AGADIR,30.422036,-9.559509,BENI MELLAL,32.334193,-6.353335,461.149000,305.016667
2,AGADIR,30.422036,-9.559509,BERRECHID,33.267675,-7.581147,424.626000,239.766667
3,AGADIR,30.422036,-9.559509,CASABLANCA,33.595063,-7.618777,464.517000,268.183333
4,AGADIR,30.422037,-9.559509,ELJADIDA,36.860370,6.925006,391.116000,278.283333

In [68]:
#generer les dates et les heures de depart
from faker import Faker
from random import randint
df['date_depart']=''
df['heure_depart']=''
faker = Faker()
for i in range(849):
    df['date_depart'][i]=faker.date_between(start_date='-1y', end_date='-1y')
    df['heure_depart'][i]=""+str(randint(6,23))+":"+str(randint(0,59))+""

C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [69]:
from time import *
df['duree_conv']=''

In [70]:
#convertir la durée en heure
for index,row in df.iterrows():
    df['duree_conv'].iloc[index]=strftime('%H:%M:%S', gmtime(df['Durée'].iloc[index]))

In [36]:
def conv(x):
    seconds=x*60
    seconds = seconds % (24 * 3600) 
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    
      
    return "%d:%02d" % (hour, minutes)

In [71]:
df['duree_conv']=df['Durée'].apply(lambda x: conv(x))

In [72]:
df.head()

,Ville de depart,Latitude,Longitude,Ville d'arrivée,Latitude.1,Longitude.1,Distance,Durée,date_depart,heure_depart,duree_conv
0,AGADIR,30.422036,-9.559509,AL HOCEIMA,35.245114,-3.930186,1014.802001,602.133333,2019-03-03,7:43,10:02
1,AGADIR,30.422036,-9.559509,BENI MELLAL,32.334193,-6.353335,461.149000,305.016667,2019-03-03,15:38,5:05
2,AGADIR,30.422036,-9.559509,BERRECHID,33.267675,-7.581147,424.626000,239.766667,2019-03-03,8:44,3:59
3,AGADIR,30.422036,-9.559509,CASABLANCA,33.595063,-7.618777,464.517000,268.183333,2019-03-03,15:3,4:28
4,AGADIR,30.422037,-9.559509,ELJADIDA,36.860370,6.925006,391.116000,278.283333,2019-03-03,17:12,4:38

In [39]:
#concatener les dates de depart et les heures de depart
df['dt_dep']=''
df['dt_dep']=df['date_depart'].astype(str)+' '+df['heure_depart'].astype(str)

In [40]:
df.dt_dep.head()

0    2019-12-04 16:17
1    2019-09-09 22:58
2      2019-05-27 7:0
3    2019-04-21 16:29
4    2019-03-10 15:31
Name: dt_dep, dtype: object

In [41]:
from datetime import datetime 
from time import strptime
from datetime import timedelta

In [42]:
#la durée des trajets pour les moyenes de transport ctm et autocar
df['duree_CTM']=df['Durée']*2
df['duree_autocar']=df['Durée']*3

In [43]:
df['dt_dep'] = df['dt_dep'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M'))

In [45]:
#generer les heures d'arrivees pour les moyens de transport
df['dt_arr_voiture'] = df['dt_dep']+df['Durée'].apply(lambda x: timedelta(minutes=x))
df['dt_arr_CTM'] = df['dt_dep']+df['duree_CTM'].apply(lambda x: timedelta(minutes=x))
df['dt_arr_autocar'] = df['dt_dep']+df['duree_autocar'].apply(lambda x: timedelta(minutes=x))

In [46]:
#convertir en format strptime
df['dt_arr_voiture'] = df['dt_arr_voiture'].apply (lambda x: x.strftime("%d/%m/%Y, %H:%M"))
df['dt_arr_CTM'] = df['dt_arr_CTM'].apply (lambda x: x.strftime("%d/%m/%Y, %H:%M"))
df['dt_arr_autocar'] = df['dt_arr_autocar'].apply (lambda x: x.strftime("%d/%m/%Y, %H:%M"))
df['dt_dep'] = df['dt_dep'].apply (lambda x: x.strftime("%d/%m/%Y, %H:%M"))

In [47]:
df.head()

,Unnamed: 0,Ville de depart,Latitude,Longitude,Ville d'arrivée,Latitude.1,Longitude.1,Distance,Durée,date_depart,heure_depart,duree_conv,dt_dep,duree_CTM,duree_autocar,dt_arr_voiture,dt_arr_CTM,dt_arr_autocar
0,0,AGADIR,30.422036,-9.559509,AL HOCEIMA,35.245114,-3.930186,1014.802001,602.133333,2019-12-04,16:17,10:02,"04/12/2019, 16:17",1204.266667,1806.40,"05/12/2019, 02:19","05/12/2019, 12:21","05/12/2019, 22:23"
1,1,AGADIR,30.422036,-9.559509,BENI MELLAL,32.334193,-6.353335,461.149000,305.016667,2019-09-09,22:58,5:05,"09/09/2019, 22:58",610.033333,915.05,"10/09/2019, 04:03","10/09/2019, 09:08","10/09/2019, 14:13"
2,2,AGADIR,30.422036,-9.559509,BERRECHID,33.267675,-7.581147,424.626000,239.766667,2019-05-27,7:0,3:59,"27/05/2019, 07:00",479.533333,719.30,"27/05/2019, 10:59","27/05/2019, 14:59","27/05/2019, 18:59"
3,3,AGADIR,30.422036,-9.559509,CASABLANCA,33.595063,-7.618777,464.517000,268.183333,2019-04-21,16:29,4:28,"21/04/2019, 16:29",536.366667,804.55,"21/04/2019, 20:57","22/04/2019, 01:25","22/04/2019, 05:53"
4,4,AGADIR,30.422037,-9.559509,ELJADIDA,36.860370,6.925006,391.116000,278.283333,2019-03-10,15:31,4:38,"10/03/2019, 15:31",556.566667,834.85,"10/03/2019, 20:09","11/03/2019, 00:47","11/03/2019, 05:25"

In [65]:
df=df.drop(['date_depart','heure_depart'], axis=1)

KeyError: "['date_depart' 'heure_depart'] not found in axis"

In [49]:
#generer les prix à partir des distances
df["prix_covoiturage"]=df["Distance"]*0.2
df["prix_CTM"]=df["Distance"]*0.45
df["prix_autocar"]=df["Distance"]*0.30

In [50]:
df

,Unnamed: 0,Ville de depart,Latitude,Longitude,Ville d'arrivée,Latitude.1,Longitude.1,Distance,Durée,duree_conv,dt_dep,dt_arr_voiture,dt_arr_CTM,dt_arr_autocar,prix_covoiturage,prix_CTM,prix_autocar
0,0,AGADIR,30.422036,-9.559509,AL HOCEIMA,35.245114,-3.930186,1014.802001,602.133333,10:02,"04/12/2019, 16:17","05/12/2019, 02:19","05/12/2019, 12:21","05/12/2019, 22:23",202.9604,456.66090,304.4406
1,1,AGADIR,30.422036,-9.559509,BENI MELLAL,32.334193,-6.353335,461.149000,305.016667,5:05,"09/09/2019, 22:58","10/09/2019, 04:03","10/09/2019, 09:08","10/09/2019, 14:13",92.2298,207.51705,138.3447
2,2,AGADIR,30.422036,-9.559509,BERRECHID,33.267675,-7.581147,424.626000,239.766667,3:59,"27/05/2019, 07:00","27/05/2019, 10:59","27/05/2019, 14:59","27/05/2019, 18:59",84.9252,191.08170,127.3878
3,3,AGADIR,30.422036,-9.559509,CASABLANCA,33.595063,-7.618777,464.517000,268.183333,4:28,"21/04/2019, 16:29","21/04/2019, 20:57","22/04/2019, 01:25","22/04/2019, 05:53",92.9034,209.03265,139.3551
4,4,AGADIR,30.422037,-9.559509,ELJADIDA,36.860370,6.925006,391.116000,278.283333,4:38,"10/03/2019, 15:31","10/03/2019, 20:09","11/03/2019, 00:47","11/03/2019, 05:25",78.2232,176.00220,117.3348
5,5,AGADIR,30.422037,-9.559509,ERRACHIDIA,31.929089,-4.434081,618.022999,472.116667,7:52,"09/01/2020, 19:06","10/01/2020, 02:58","10/01/2020, 10:50","10/01/2020, 18:42",123.6046,278.11035,185.4069
6,6,AGADIR,30.422037,-9.559509,ESSAOUIRA,31.511828,-9.762090,174.446999,137.800000,2:17,"22/07/2019, 09:07","22/07/2019, 11:24","22/07/2019, 13:42","22/07/2019, 16:00",34.8894,78.50115,52.3341
7,7,AGADIR,30.422037,-9.559509,FES,34.034653,-5.016193,829.090000,466.100000,7:46,"03/02/2020, 23:48","04/02/2020, 07:34","04/02/2020, 15:20","04/02/2020, 23:06",165.8180,373.09050,248.7270
8,8,AGADIR,30.422037,-9.559509,KENITRA,34.264570,-6.570169,600.703000,335.783333,5:35,"30/05/2019, 21:43","31/05/2019, 03:18","31/05/2019, 08:54","31/05/2019, 14:30",120.1406,270.31635,180.2109
9,9,AGADIR,30.422037,-9.559509,KHEMISSET,33.830287,-6.072605,639.933000,356.950000,5:56,"05/03/2019, 06:24","05/03/2019, 12:20","05/03/2019, 18:17","06/03/2019, 00:14",127.9866,287.96985,191.9799
10,10,AGADIR,30.422037,-9.559509,KHENIFRA,32.935772,-5.669650,649.002001,390.566667,6:30,"08/12/2019, 23:58","09/12/2019, 06:28","09/12/2019, 12:59","09/12/2019, 19:29",129.8004,292.05090,194.7006
11,11,AGADIR,30.422037,-9.559509,MARRAKECH,31.625826,-7.989161,247.120000,157.916667,2:37,"23/01/2020, 20:56","23/01/2020, 23:33","24/01/2020, 02:11","24/01/2020, 04:49",49.4240,111.20400,74.1360
12,12,AGADIR,30.422037,-9.559509,MEKNES,42.651545,-1.309065,698.915000,391.883333,6:31,"08/03/2019, 13:11","08/03/2019, 19:42","09/03/2019, 02:14","09/03/2019, 08:46",139.7830,314.51175,209.6745
13,13,AGADIR,30.422037,-9.559509,MOHAMMADIA,33.695838,-7.389329,486.640999,273.833333,4:33,"11/09/2019, 13:55","11/09/2019, 18:28","11/09/2019, 23:02","12/09/2019, 03:36",97.3282,218.98845,145.9923
14,14,AGADIR,30.422037,-9.559509,NADOR,35.051918,-2.824399,1047.751000,593.333333,9:53,"09/08/2019, 12:57","09/08/2019, 22:50","10/08/2019, 08:43","10/08/2019, 18:37",209.5502,471.48795,314.3253
15,15,AGADIR,30.422037,-9.559509,OUARZAZATE,30.920193,-6.910923,358.413000,283.083333,4:43,"13/12/2019, 16:13","13/12/2019, 20:56","14/12/2019, 01:39","14/12/2019, 06:22",71.6826,161.28585,107.5239
16,16,AGADIR,30.422037,-9.559509,OUJDA,34.677874,-1.929306,1070.696999,584.100000,9:44,"09/08/2019, 21:26","10/08/2019, 07:10","10/08/2019, 16:54","11/08/2019, 02:38",214.1394,481.81365,321.2091
17,17,AGADIR,30.422037,-9.559509,RABAT,34.022405,-6.834543,549.542000,310.900000,5:10,"10/12/2019, 08:53","10/12/2019, 14:03","10/12/2019, 19:14","11/12/2019, 00:25",109.9084,247.29390,164.8626
18,18,AGADIR,30.422037,-9.559509,SAFI,32.249414,-8.994165,313.404000,211.200000,3:31,"21/02/2020, 08:46","21/02/2020, 12:17","21/02/2020, 15:48","21/02/2020, 19:19",62.6808,141.03180,94.0212
19,19,AGADIR,30.422038,-9.559509,TIFLET,33.894009,-6.316730,612.578000,340.700000,5:40,"28/01/2020, 21:13","29/01/2020, 02:53","29/01/2020, 08:34","29/01/2020, 14:15",122.5156,275.66010,183.7734
20,20,AGADIR,30.422038,-9.559509,TETOUAN,35.570175,-5.374278,824.142999,482.966667,8:02,"03/09/2019, 15:04","03/09/2019, 23:06","04/09/2019, 07:09","04/09/2019, 15:12",164.8286,370.86435,247.2429
21,21,AGADIR,30.422038,-9.559509,TAZA,34.230155,-4.010104,859.827000,473.816667,7:53,"02/05/2019, 23:45","03/05/2019, 07:38","03/05/2019, 15:32","03/05/2019, 23:26",171.9654,386.92215,257.9481
22,22,AGADIR,30.422038,-9.559509,TANGER,35.777103,-5.803792,801.669000,448.533333,7:28,"24/07/2019, 17:53","25/07/2019, 01:21","25/07/2019, 08:50","25/07/2019, 16:18",160.3338,360.75105,240.5007
23,23,AGADIR,30.422038,-9.559509,SIDI KACEM,34.226412,-5.711434,684.799999,397.700000,6:37,"07/11/2019, 19:44","08/11/2019, 02:21","08/11/2019, 08:59","08/11/2019, 15:37",136.9600,308.16000,205.4400
24,24,AGADIR,30.422038,-9.559509,SETTAT,33.002397,-7.619867,393.441000,224.633333,3:44,"21/05/2019, 07:40","21/05/2019, 11:24","21/05/2019, 15:09","21/05/2019, 18:53",78.6882,177.04845,118.0323
25,25,AGADIR,30.422038,-9.559509,SEFROU,33.824898,-4.833336,775.058001,431.383333,7:11,"15/09/2019, 16:43","15/09/2019, 23:54","16/09/2019, 07:05","16/09/2019, 14:17",155.0116,348.77610,232.5174
26,26,AGADIR,30.422038,-9.559509,OUEZZANE,34.796757,-5.578493,731.125000,431.683333,7:11,"06/01/2020, 23:11","07/01/2020, 06:22","07/01/2020, 13:34","07/01/2020, 20:46",146.2250,329.00625,219.3375
27,27,AGADIR,30.422038,-9.559509,KHOURIBGA,32.885508,-6.909238,483.884999,290.616667,4:50,"24/08/2019, 06:51","24/08/2019, 11:41","24/08/2019, 16:32","24/08/2019, 21:22",96.7770,217.74825,145.1655
28,28,AGADIR,30.422038,-9.559509,INEZGANE,30.356293,-9.545935,10.327000,15.933333,0:15,"04/12/2019, 23:10","04/12/2019, 23:25","04/12/2019, 23:41","04/12/2019, 23:57",2.0654,4.64715,3.0981
29,29,AGADIR,30.422038,-9.559509,BERKANE,34.926676,-2.329409,1064.675999,596.716667,9:56,"15/12/2019, 06:48","15/12/2019, 16:44","16/12/2019, 02:41","16/12/2019, 12:38",212.9352,479.10420,319.4028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817,817,SIDI KACEM,85.635042,74.442752,MEKNES,42.651545,-1.309065,45.948001,40.916667,0:40,"02/12/2019, 10:16","02/12/2019, 10:56","02/12/2019, 11:37","02/12/2019, 12:18",9.1896,20.67660,13.7844
818,818,SETTAT,89.307087,80.168051,MOHAMMADIA,33.695838,-7.389329,96.602000,63.683333,1:03,"22/07/2019, 13:18","22/07/2019, 14:21","22/07/2019, 15:25","22/07/2019, 16:29",19.3204,43.47090,28.9806
819,819,SIDI KACEM,90.531102,82.076484,MOHAMMADIA,33.695838,-7.389329,201.515000,136.416667,2:16,"29/01/2020, 06:34","29/01/2020, 08:50","29/01/2020, 11:06","29/01/2020, 13:23",40.3030,90.68175,60.4545
820,820,SETTAT,94.203147,87.801783,NADOR,35.051918,-2.824399,657.712001,383.166667,6:23,"28/09/2019, 11:32","28/09/2019, 17:55","29/09/2019, 00:18","29/09/2019, 06:41",131.5424,295.97040,197.3136
821,821,SIDI KACEM,95.427162,89.710216,OUARZAZATE,30.920193,-6.910923,658.763000,440.466667,7:20,"22/02/2020, 21:29","23/02/2020, 04:49","23/02/2020, 12:09","23/02/2020, 19:30",131.7526,296.44335,197.6289
822,822,SETTAT,96.651177,91.618649,OUEZZANE,34.796757,-5.578493,341.085999,221.516667,3:41,"06/05/2019, 22:16","07/05/2019, 01:57","07/05/2019, 05:39","07/05/2019, 09:20",68.2172,153.48870,102.3258
823,823,SIDI KACEM,97.875192,93.527082,OUJDA,34.677874,-1.929306,429.248001,255.050000,4:15,"19/10/2019, 23:00","20/10/2019, 03:15","20/10/2019, 07:30","20/10/2019, 11:45",85.8496,193.16160,128.7744
824,824,SETTAT,99.099207,95.435515,RABAT,34.022405,-6.834543,159.503000,100.733333,1:40,"11/01/2020, 12:50","11/01/2020, 14:30","11/01/2020, 16:11","11/01/2020, 17:52",31.9006,71.77635,47.8509
825,825,SIDI KACEM,100.323222,97.343948,RABAT,34.022405,-6.834543,131.632000,105.100000,1:45,"29/09/2019, 07:36","29/09/2019, 09:21","29/09/2019, 11:06","29/09/2019, 12:51",26.3264,59.23440,39.4896
826,826,TEMARA,33.917166,-6.923804,AGADIR,30.422038,-9.559509,539.131000,300.000000,5:00,"05/06/2019, 14:48","05/06/2019, 19:48","06/06/2019, 00:48","06/06/2019, 05:48",107.8262,242.60895,161.7393
827,827,TEMARA,33.917166,-6.923804,AL HOCEIMA,35.245114,-3.930186,474.313000,314.616667,5:14,"27/02/2019, 16:26","27/02/2019, 21:40","28/02/2019, 02:55","28/02/2019, 08:09",94.8626,213.44085,142.2939
828,828,TEMARA,33.917166,-6.923804,BERKANE,34.926676,-2.329409,524.187000,309.200000,5:09,"16/03/2019, 19:45","17/03/2019, 00:54","17/03/2019, 06:03","17/03/2019, 11:12",104.8374,235.88415,157.2561
829,829,TEMARA,33.917166,-6.923804,BERRECHID,33.267675,-7.581147,114.127999,69.583333,1:09,"19/03/2019, 12:09","19/03/2019, 13:18","19/03/2019, 14:28","19/03/2019, 15:37",22.8256,51.35760,34.2384
830,830,TEMARA,33.917166,-6.923804,CASABLANCA,33.595063,-7.618777,82.523000,57.650000,0:57,"02/11/2019, 19:24","02/11/2019, 20:21","02/11/2019, 21:19","02/11/2019, 22:16",16.5046,37.13535,24.7569
831,831,TEMARA,33.917166,-6.923804,ELJADIDA,36.860370,6.925006,178.740000,101.483333,1:41,"03/12/2019, 14:28","03/12/2019, 16:09","03/12/2019, 17:50","03/12/2019, 19:32",35.7480,80.43300,53.6220
832,832,TEMARA,33.917166,-6.923804,ERRACHIDIA,31.929089,-4.434081,565.044000,414.316667,6:54,"09/06/2019, 17:10","10/06/2019, 00:04","10/06/2019, 06:58","10/06/2019, 13:52",113.0088,254.26980,169.5132
833,833,TEMARA,33.917166,-6.923804,ESSAOUIRA,31.511828,-9.762090,449.495000,274.900000,4:34,"29/08/2019, 21:08","30/08/2019, 01:42","30/08/2019, 06:17","30/08/2019, 10:52",89.8990,202.27275,134.8485
834,834,TEMARA,33.917166,-6.923804,FES,34.034653,-5.016193,288.600999,178.600000,2:58,"12/03/2019, 08:36","12/03/2019, 11:34","12/03/2019, 14:33","12/03/2019, 17:31",57.7202,129.87045,86.5803
835,835,TEMARA,33.917166,-6.923804,KENITRA,34.264570,-6.570169,60.214000,48.266667,0:48,"21/10/2019, 08:49","21/10/2019, 09:37","21/10/2019, 10:25","21/10/2019, 11:13",12.0428,27.09630,18.0642
836,836,TEMARA,33.917166,-6.923804,KHEMISSET,33.830287,-6.072605,99.444000,69.433333,1:09,"04/11/2019, 10:24","04/11/2019, 11:33","04/11/2019, 12:42","04/11/2019, 13:52",19.8888,44.74980,29.8332
837,837,TEMARA,33.917166,-6.923804,KHENIFRA,32.935772,-5.669650,247.003001,194.500000,3:14,"12/10/2019, 23:11","13/10/2019, 02:25","13/10/2019, 05:40","13/10/2019, 08:54",49.4006,111.15135,74.1009
838,838,TEMARA,33.917166,-6.923804,KHOURIBGA,32.885508,-6.909238,138.085000,120.333333,2:00,"10/07/2019, 07:42","10/07/2019, 09:42","10/07/2019, 11:42","10/07/2019, 13:43",27.6170,62.13825,41.4255
839,839,TEMARA,33.917166,-6.923804,MARRAKECH,31.625826,-7.989161,315.578000,180.566667,3:00,"15/04/2019, 13:04","15/04/2019, 16:04","15/04/2019, 19:05","15/04/2019, 22:05",63.1156,142.01010,94.6734
840,840,TEMARA,33.917166,-6.923804,MEKNES,42.651545,-1.309065,158.426001,104.366667,1:44,"29/10/2019, 08:27","29/10/2019, 10:11","29/10/2019, 11:55","29/10/2019, 13:40",31.6852,71.29170,47.5278
841,841,TEMARA,33.917166,-6.923804,MOHAMMADIA,33.695838,-7.389329,54.735000,38.200000,0:38,"21/06/2019, 08:35","21/06/2019, 09:13","21/06/2019, 09:51","21/06/2019, 10:29",10.9470,24.63075,16.4205
842,842,TEMARA,33.917166,-6.923804,NADOR,35.051918,-2.824399,507.262000,305.816667,5:05,"17/01/2020, 15:47","17/01/2020, 20:52","18/01/2020, 01:58","18/01/2020, 07:04",101.4524,228.26790,152.1786
843,843,TEMARA,33.917166,-6.923804,OUARZAZATE,30.920193,-6.910923,511.983000,342.233333,5:42,"06/01/2020, 16:09","06/01/2020, 21:51","07/01/2020, 03:33","07/01/2020, 09:15",102.3966,230.39235,153.5949
844,844,TEMARA,33.917166,-6.923804,OUEZZANE,34.796757,-5.578493,190.636001,144.166667,2:24,"24/01/2020, 14:45","24/01/2020, 17:09","24/01/2020, 19:33","24/01/2020, 21:57",38.1272,85.78620,57.1908
845,845,TEMARA,33.917166,-6.923804,OUJDA,34.677874,-1.929306,530.208000,296.600000,4:56,"16/02/2020, 14:54","16/02/2020, 19:50","17/02/2020, 00:47","17/02/2020, 05:43",106.0416,238.59360,159.0624
846,846,TEMARA,33.917166,-6.923804,RABAT,34.022405,-6.834543,14.787000,20.716667,0:20,"15/01/2020, 07:11","15/01/2020, 07:31","15/01/2020, 07:52","15/01/2020, 08:13",2.9574,6.65415,4.4361

In [51]:
from random import *

In [52]:
#generer les nombres de places disponibles
df['nombre_place_voiture']=''
df['nombre_place_CTM']=''
df['nombre_place_autocar']=''
for i in range(849):
    df['nombre_place_voiture'][i]=randint(1, 4)
    df['nombre_place_CTM'][i]=randint(6, 20)
    df['nombre_place_autocar'][i]=randint(15, 35)

C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [53]:
df.head()

,Unnamed: 0,Ville de depart,Latitude,Longitude,Ville d'arrivée,Latitude.1,Longitude.1,Distance,Durée,duree_conv,dt_dep,dt_arr_voiture,dt_arr_CTM,dt_arr_autocar,prix_covoiturage,prix_CTM,prix_autocar,nombre_place_voiture,nombre_place_CTM,nombre_place_autocar
0,0,AGADIR,30.422036,-9.559509,AL HOCEIMA,35.245114,-3.930186,1014.802001,602.133333,10:02,"04/12/2019, 16:17","05/12/2019, 02:19","05/12/2019, 12:21","05/12/2019, 22:23",202.9604,456.66090,304.4406,2,8,27
1,1,AGADIR,30.422036,-9.559509,BENI MELLAL,32.334193,-6.353335,461.149000,305.016667,5:05,"09/09/2019, 22:58","10/09/2019, 04:03","10/09/2019, 09:08","10/09/2019, 14:13",92.2298,207.51705,138.3447,3,7,31
2,2,AGADIR,30.422036,-9.559509,BERRECHID,33.267675,-7.581147,424.626000,239.766667,3:59,"27/05/2019, 07:00","27/05/2019, 10:59","27/05/2019, 14:59","27/05/2019, 18:59",84.9252,191.08170,127.3878,2,17,15
3,3,AGADIR,30.422036,-9.559509,CASABLANCA,33.595063,-7.618777,464.517000,268.183333,4:28,"21/04/2019, 16:29","21/04/2019, 20:57","22/04/2019, 01:25","22/04/2019, 05:53",92.9034,209.03265,139.3551,2,17,20
4,4,AGADIR,30.422037,-9.559509,ELJADIDA,36.860370,6.925006,391.116000,278.283333,4:38,"10/03/2019, 15:31","10/03/2019, 20:09","11/03/2019, 00:47","11/03/2019, 05:25",78.2232,176.00220,117.3348,2,14,21

In [ ]:
df.to_excel("C:\\Users\\Hp\\Desktop\\Chaimae\\stage\\PFE\\Dataset\\dataset_final\\trajet.xlsx")