In [0]:
import pandas as pd
df=pd.read_excel('/content/drive/My Drive/userdataaaa.xlsx')

In [56]:
df

      Unnamed: 0  gender  age                      job
0           1193  Female   59  Accounting Assistant IV
1            858    Male   55     Software Engineer II
2             87  Female   21                 etudiant
3            759  Female   49         Dental Hygienist
4            702    Male   47                Paralegal
...          ...     ...  ...                      ...
2195         823    Male   53                Paralegal
2196         118  Female   22                 etudiant
2197         706  Female   47       Nurse Practicioner
2198         804  Female   53               Pharmacist
2199         126  Female   23                 etudiant

[2200 rows x 4 columns]

In [0]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [58]:
df

      gender  age                      job
0     Female   59  Accounting Assistant IV
1       Male   55     Software Engineer II
2     Female   21                 etudiant
3     Female   49         Dental Hygienist
4       Male   47                Paralegal
...      ...  ...                      ...
2195    Male   53                Paralegal
2196  Female   22                 etudiant
2197  Female   47       Nurse Practicioner
2198  Female   53               Pharmacist
2199  Female   23                 etudiant

[2200 rows x 3 columns]

In [0]:
df['id_user'] =pd.Series(range(1,2201))

In [62]:
df

      gender  age                      job  id_user
0     Female   59  Accounting Assistant IV        1
1       Male   55     Software Engineer II        2
2     Female   21                 etudiant        3
3     Female   49         Dental Hygienist        4
4       Male   47                Paralegal        5
...      ...  ...                      ...      ...
2195    Male   53                Paralegal     2196
2196  Female   22                 etudiant     2197
2197  Female   47       Nurse Practicioner     2198
2198  Female   53               Pharmacist     2199
2199  Female   23                 etudiant     2200

[2200 rows x 4 columns]

In [0]:
df2=pd.read_csv('/content/drive/My Drive/datasetratingfinal.csv')

In [64]:
df2

         Unnamed: 0  Id_User Ville de depart  ...  accident  comfort rating
0            243462    74337         KENITRA  ...         1        0      0
1            132267    64156          MEKNES  ...         1        0      1
2            507014    38640             FES  ...         0        1      3
3             50783    34244          MEKNES  ...         0        0      1
4             47186    98100         KENITRA  ...         1        0      0
...             ...      ...             ...  ...       ...      ...    ...
1177534      611064    83934          TANGER  ...         0        0      1
1177535      287137    96096     BENI MELLAL  ...         0        0      2
1177536      356497    98729      CASABLANCA  ...         0        1      3
1177537       99991    80519          MEKNES  ...         1        0      1
1177538      350865    90601          TANGER  ...         0        1      4

[1177539 rows x 30 columns]

In [0]:
df2.drop(['Unnamed: 0','traffic','securite','comfort'],axis=1,inplace=True)

In [0]:
df2.drop(['Id_User'],axis=1,inplace=True)

In [67]:
df2

        Ville de depart   Latitude  Longitude  ...      route  accident  rating
0               KENITRA  34.264570  -6.570169  ...   national         1       0
1                MEKNES  42.651545  -1.309065  ...  autoroute         1       1
2                   FES  34.034653  -5.016193  ...  autoroute         0       3
3                MEKNES  42.651545  -1.309065  ...   national         0       1
4               KENITRA  34.264570  -6.570169  ...   national         1       0
...                 ...        ...        ...  ...        ...       ...     ...
1177534          TANGER  35.777103  -5.803792  ...   national         0       1
1177535     BENI MELLAL  32.334193  -6.353335  ...   national         0       2
1177536      CASABLANCA  33.595063  -7.618777  ...   national         0       3
1177537          MEKNES  42.651545  -1.309065  ...   national         1       1
1177538          TANGER  35.777103  -5.803792  ...  autoroute         0       4

[1177539 rows x 25 columns]

In [0]:
df2['id_trajet'] =pd.Series(range(1,1177540))

In [69]:
df2

        Ville de depart   Latitude  Longitude  ... accident  rating  id_trajet
0               KENITRA  34.264570  -6.570169  ...        1       0          1
1                MEKNES  42.651545  -1.309065  ...        1       1          2
2                   FES  34.034653  -5.016193  ...        0       3          3
3                MEKNES  42.651545  -1.309065  ...        0       1          4
4               KENITRA  34.264570  -6.570169  ...        1       0          5
...                 ...        ...        ...  ...      ...     ...        ...
1177534          TANGER  35.777103  -5.803792  ...        0       1    1177535
1177535     BENI MELLAL  32.334193  -6.353335  ...        0       2    1177536
1177536      CASABLANCA  33.595063  -7.618777  ...        0       3    1177537
1177537          MEKNES  42.651545  -1.309065  ...        1       1    1177538
1177538          TANGER  35.777103  -5.803792  ...        0       4    1177539

[1177539 rows x 26 columns]

In [0]:
df4=df2[['id_trajet',"Ville de depart","Latitude","Longitude","Ville d'arrivée","Latitude.1","Longitude.1","Distance","prix","Year_dep","Month_dep","day_dep","weekday_name_dep","Hour_dep","minute_dep","day_arr","weekday_name_arr","Hour_arr","minute_arr","hour_duree","minute_duree","nombre_place","Moyen_de_transport","route","accident","rating"]]

In [87]:
df4

         id_trajet Ville de depart   Latitude  ...      route accident  rating
0                1         KENITRA  34.264570  ...   national        1       0
1                2          MEKNES  42.651545  ...  autoroute        1       1
2                3             FES  34.034653  ...  autoroute        0       3
3                4          MEKNES  42.651545  ...   national        0       1
4                5         KENITRA  34.264570  ...   national        1       0
...            ...             ...        ...  ...        ...      ...     ...
1177534    1177535          TANGER  35.777103  ...   national        0       1
1177535    1177536     BENI MELLAL  32.334193  ...   national        0       2
1177536    1177537      CASABLANCA  33.595063  ...   national        0       3
1177537    1177538          MEKNES  42.651545  ...   national        1       1
1177538    1177539          TANGER  35.777103  ...  autoroute        0       4

[1177539 rows x 26 columns]

In [0]:
hist = []
m = len(df)
for i in range(0,m):
    dataSample = df4.sample(1000,random_state=200)
    for j,k in zip(range(len(dataSample)),dataSample['id_trajet']):
      # print(j,k)
      hist.append([df['id_user'][i],dataSample['id_trajet'][k-1],dataSample['rating'][k-1]])

In [0]:
pd.DataFrame(hist).to_csv('/content/drive/My Drive/historiqueraing.csv',sep=';',header=["id_user","id_trajet",'rating'],index= False)

In [90]:
hist.sort_values(by=['id_trajet'])

AttributeError: ignored

In [0]:
pd.DataFrame(hist).to_csv('/content/drive/My Drive/historique.csv',sep=';',header=["id_user","id_trajet"],index= False)

In [0]:
df6=pd.read_csv('/content/drive/My Drive/historiqueraing.csv',sep=';')

In [94]:
df6

         id_user  id_trajet  rating
0              1     171134       3
1              1     202204       3
2              1     436628       2
3              1     283478       0
4              1    1148224       3
...          ...        ...     ...
2199995     2200     924996       1
2199996     2200     440467       3
2199997     2200      19765       2
2199998     2200     372033       3
2199999     2200     969902       3

[2200000 rows x 3 columns]

In [97]:
df6.sort_values(by=['id_trajet'])

         id_user  id_trajet  rating
1298951     1299        217       4
1884951     1885        217       4
684951       685        217       4
186951       187        217       4
1867951     1868        217       4
...          ...        ...     ...
2103603     2104    1176858       2
1228603     1229    1176858       2
113603       114    1176858       2
1707603     1708    1176858       2
713603       714    1176858       2

[2200000 rows x 3 columns]